.flashcards-section {
  min-height: 100vh;
}

.flashcards-grid {
  max-width: 800px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: 1rem;
  gap: 2rem;
}

.make-flashcard-link {
  color: var(--turquoise);
  border-bottom: 2px solid var(--turquoise);
  transition: all 0.2s ease-in-out;
}

.sort-section {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: auto;
  position: relative;
  font-weight: 500;
  gap: 1rem;
}

.sort-label {
  color: var(--white-color);
}

.sort-section select {
  -webkit-background-color: var(--periwinkle);
  background-color: var(--periwinkle);
  padding: 0.5rem;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.sort-section select:hover {
  box-shadow: 0px 0px 5px var(--turquoise);
}

.card {
  border: 1px solid var(--light-gray-accent);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
  font-size: 1.25rem;
  min-height: 350px;
  max-height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  -webkit-transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  gap: 1rem;
}

.card:hover {
  --translate-y: -2px;
  scale: 1.05;
}

.card.flip {
  --rotate-y: 180deg;
}

.card-title {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}

.flashcard-topic-container {
  display: flex;
  justify-content: center;
}

.flashcard-topic {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--black-bg);
  background-color: var(--violet);
  outline-offset: -5px;
  outline-style: dashed;
  outline-width: 2px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 0.5rem;
  max-width: fit-content;
  font-size: 1rem;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}

.card .back {
  transform: rotateY(180deg);
}

/* testing out a strategy for iphone */
@media (max-width: 600px) {
  .card.flip {
    --translate-y: -2px;
    --rotate-y: 180deg;
  }

  .flashcard-topic {
    outline: none;
    border: none;
  }
}

.card-edit {
  position: absolute;
  inset: 0;
  margin: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.all-flashcards {
  background-color: var(--bg-accent);
  padding: 2rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  min-height: 100vh;
}

/* new flashcard form */

.go-back {
  font-weight: 600;
  color: var(--gray-color);
  transition: all 0.2s ease-in;
  margin-bottom: 1rem;
}

.go-back:hover {
  color: var(--turquoise);
}

.new-flashcard {
  min-height: 100vh;
  padding: 2rem;
}

.flashcard-form {
  background-color: white;
  max-width: 600px;
  min-height: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--header);
  color: var(--periwinkle);
}

.form-title h2 {
  font-size: 2.5rem;
}

.form-action-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.form-btn {
  padding: 0.5rem;
  color: var(--periwinkle);
  display: flex;
  align-items: center;
}

.input-container {
  display: grid;
  gap: 2rem;
}

.flashcard-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: 600;
}

.flashcard-input .form-input {
  border-radius: 8px;
  border: 1px solid var(--light-gray-accent);
  padding: 1rem;
}

textarea {
  min-height: 150px;
}

/* Review session */

.review-section {
  min-height: 100vh;
}

.sort-bar {
  padding: 1rem;
}

.review-card {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.review-card .card {
  min-height: 300px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-30 17:53:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.review-btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.review-btns button {
  color: var(--white-color);
  font-size: 2rem;
  font-family: var(--header);
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.review-btns button:first-child {
  background-color: var(--light-green);
  border-radius: 8px;
}

.review-btns button:last-child {
  background-color: var(--periwinkle);
  border-radius: 8px;
}

.review-btns button:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

@media (max-width: 786px) {
  .review-btns button {
    font-size: 1.25rem;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  }
}

.no-more-cards {
  background-color: var(--white-color);
  max-width: 700px;
  min-height: 300px;
  border-radius: 8px;
  margin: auto;
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--turquoise);
}

.total-reviewed {
  font-size: 1rem;
  color: var(--periwinkle);
  padding-block: 0.5rem;
}

.mapped-wrong {
  padding-top: 1rem;
  text-align: center;
  color: var(--bg-accent);
}

/* generate flashcards by ai */
.generate-section {
  min-height: 100vh;
}

@media (max-width: 786px) {
  .generate form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
  }
}

.generate-input {
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 300px;
}

.generate-btn {
  background-color: var(--violet);
  padding: 0.5rem;
  border-radius: 8px;
  margin-left: 0.5rem;
}

.results {
  min-height: 100vh;
  background-color: var(--bg-accent);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 3rem;
}

.instruction-container {
  background-color: var(--white-color);
  max-width: 700px;
  border-radius: 8px;
  padding: 1rem;
  margin: auto;
  min-height: 300px;
}

.instruction-container h2 {
  color: var(--turquoise);
  font-family: var(--header);
  font-size: 2.25rem;
}

.instruction-p {
  font-weight: 600;
}

.ordered-list li {
  padding-block: 0.5rem;
}

.ordered-list li span {
  font-weight: 600;
  color: var(--periwinkle);
}

.all-aiFlashcards {
  max-width: 800px;
  margin: auto;
  display: grid;
  gap: 2rem;
}

.save-card {
  font-size: 1.2rem;
  background-color: var(--light-green);
  border-radius: 8px;
  position: absolute;
  inset: 0;
  width: fit-content;
  height: 40px;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
}

.save-card:hover,
.card-edit:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
