.register-section {
  min-height: 100vh;
  padding: 4rem 1rem;
}

.register-form {
  background-color: whitesmoke;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  padding: 4rem;
  display: grid;
  place-content: center;
}

.form_title-row {
  padding-bottom: 2rem;
  text-align: center;
}

.form-btns-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_action-btns {
  padding-block: 0.5rem;
  color: var(--periwinkle);
  font-size: 0.85rem;
}

.register-inputs {
  display: grid;
  gap: 2rem;
}

.register-btn {
  background-color: var(--violet);
  padding: 0.5rem;
  border-radius: 8px;
}

/* Profile */

.profile-section {
  min-height: 100vh;
  margin-top: 1rem;
}


.profile-form {
  background-color: var(--white-color);
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
}

.form_title-row h2 {
  font-family: var(--header);
  font-size: 2rem;
  color: var(--periwinkle);
  letter-spacing: 1px;
}

.form-grid {
  display: grid;
  gap: 2rem;
  max-width: 500px;
  margin: auto;
}

.update-userBtn {
  background-color: var(--periwinkle);
  padding: .5rem;
  border-radius: 8px;
  font-weight: 600;
  color: var(--white-color);
  transition: all .2s ease-in-out;
}

.update-userBtn:hover {
  scale: 1.1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .45);
}